/* home page styles */
.introPageWrapper{
    background: url(../assets/intro.png) no-repeat center center ;
    background-size: 100% 100%;
    background-color: rgb(126, 120, 120);
    background-blend-mode: multiply;
    height: 100vh;
}
.introPageWrapper div{
    margin: 20% 5rem;
    
}
.introHeader{
    text-align: center;
    margin-top: 4rem;
    color:white;
    font-size: 3.2rem;
}

.introText{
    text-align: center;
    margin-top: 2rem;
    color:white;
    font-weight: 600;
}

.introButton{
    width: 80%;
    display: block;
    margin:0 auto;
    margin-top: 5rem;
    padding: 0.8rem;
    background-color: #FF8C38;
    outline: none;
    border:0px;
    border-radius: 5px;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}